.cartpop {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.93;
  width: 30%;
  height: 100%;
  color: white;
}

.cartpop .cardpop {
  margin-bottom: 2px;

  background-color: rgb(96, 93, 97);
}

.cartpop .imgcontainer {
  width: 70px;
  margin-right: 15px;
  /* height: 200px; */
}
.cartpop .imgcontainer img {
  width: 100%;
  height: 100%;
}
