.cartItemMain {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cartItem {
  display: flex;
  align-items: center;
  flex-flow: row wrap;

  justify-content: space-between;
  border-radius: 3px;
  /* overflow: hidden; */
  padding: 30px 70px;
  position: relative;
  /* margin-bottom: 20px; */
  box-shadow: 2px 3px 10px rgb(219, 217, 217);
}

.flex {
  display: flex;
  align-items: center;
}
.spacea {
  justify-content: space-around;
}
.space {
  justify-content: space-between;
}

.crossicon {
  background-color: red;
  color: white;
  border-radius: 25px;
  padding: 3px;
  position: absolute;
  top: -6px;
  right: -6px;
  cursor: pointer;
}

.cartItemImg {
  width: 120px;
  height: 120px !important;
  /* margin-right: 40px; */
}

.cartItemImg img {
  height: 100%;
  width: 100%;
  object-fit: "contain";
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.cartItemHeading {
  /* background-color: rgb(97, 54, 54); */
  width: 400px;
}
@media screen and (max-width: 760px) {
  .cartItemHeading {
    width: 100%;
  }
}
.cartItemInfo {
  display: flex;
  gap: 20px;
}

.cartItemQuantity {
  color: rgb(175, 174, 174);
}

.cartItemPrice {
  color: #810d20;
  font-weight: 500;
  font-size: 20px;
}

.cartItemCounter {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cartItemCounter .decrement,
.cartItemCounter .increment {
  padding: 5px;
  border: 1px solid #d23f57;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d23f57;
  cursor: pointer;
}

/*  total styling  */

.totalHeading {
  margin: 30px 0;
}

.totalHeading h3 {
  text-align: right;
  font-size: 35px;
  color: #d23f57;
}

.hrstyle {
  margin-bottom: 20px;
}

.buttonstyle button {
  border: none;
  padding: 20px 130px;
  margin: 30px;
  font-size: 18px;
  font-weight: bold;
}

.buttonstyle .button1 {
  background: #000;
  color: white;
}
.buttonstyle .button2 {
  color: white;

  background: red;
}
.buttonstyle button:hover {
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.8;
}
.buttonstyle button:active {
  opacity: 0.6;
}
